h1{ color:brown;
background-color:azure;}
p{color:magenta;
background-color:greenyellow; }
.dd { color:blue;}
ol { color: yellow;
background-color:brown}
ul{ color:blue;
background-color:orange}
b{ color:blueviolet}